<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>

</p>
<p>
<%= link_to 'delete user', @user, method: :delete, data: { confirm: 'Are you sure?'}%>
</p>

<%if not @uclubs.empty?%>
<h4>Member of</h4>
<ul>
	<% @uclubs.each do |club| %>
	<li><%= link_to club.name, club %></li>
	<% end %>
</ul>
<%else%>
	not member of any club
<%end%>



<% if not @user.ratings.empty? %>
	has made <%= @user.ratings.count %> <%= 'rating'.pluralize(@user.ratings.count) %>, average <%= @user.average_rating %>
<% else %>
	no ratings 
<%end%>

<ul>
<% @user.ratings.each do |rating| %>
	<li>
		 <%= rating %> 
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
	</li> 
<%end%>
</ul>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>