<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>
</p>

<p style="font-style: italic">
  Established in <%= @brewery.year %>
</p>

<strong>Total beers: <%= @brewery.beers.count %></strong>
<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %><br />
 <% end %>
</p>


<% if @brewery.average_rating==0 %>
Brewery has no ratings!

<% else %>
<% c = @brewery.ratings.count%>
Brewery has <%= c %> <%= "rating".pluralize(c) %> , with an average of <%= @brewery.average_rating %>
<% end %>  	
<br><br>	



<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
